################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProiectSMM-Aquarium/.vs/ProiectSMM-Aquarium/v16
